# coding: utf-8

"""
    Phone.com API

    This is a Phone.com api Swagger definition

    OpenAPI spec version: 1.0.0
    Contact: apisupport@phone.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SubaccountpricingApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_account_subaccount_pricing(self, account_id, subaccount_id, data, **kwargs):
        """
        Add a pricing plan to a subaccount.
        Add a pricing plan to a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_account_subaccount_pricing(account_id, subaccount_id, data, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param CreatePricingParams data: Subaccount pricing data (required)
        :return: PricingFull
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_account_subaccount_pricing_with_http_info(account_id, subaccount_id, data, **kwargs)
        else:
            (data) = self.create_account_subaccount_pricing_with_http_info(account_id, subaccount_id, data, **kwargs)
            return data

    def create_account_subaccount_pricing_with_http_info(self, account_id, subaccount_id, data, **kwargs):
        """
        Add a pricing plan to a subaccount.
        Add a pricing plan to a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_account_subaccount_pricing_with_http_info(account_id, subaccount_id, data, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param CreatePricingParams data: Subaccount pricing data (required)
        :return: PricingFull
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'subaccount_id', 'data']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_account_subaccount_pricing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `create_account_subaccount_pricing`")
        # verify the required parameter 'subaccount_id' is set
        if ('subaccount_id' not in params) or (params['subaccount_id'] is None):
            raise ValueError("Missing the required parameter `subaccount_id` when calling `create_account_subaccount_pricing`")
        # verify the required parameter 'data' is set
        if ('data' not in params) or (params['data'] is None):
            raise ValueError("Missing the required parameter `data` when calling `create_account_subaccount_pricing`")


        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'subaccount_id' in params:
            path_params['subaccount_id'] = params['subaccount_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in params:
            body_params = params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api('/accounts/{account_id}/subaccounts/{subaccount_id}/pricing', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='PricingFull',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def delete_account_subaccount_pricing(self, account_id, subaccount_id, pricing_id, **kwargs):
        """
        Delete a pricing plan from a subaccount.
        Delete a pricing plan from a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_account_subaccount_pricing(account_id, subaccount_id, pricing_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param int pricing_id: Pricing Object ID (required)
        :return: DeleteEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.delete_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, **kwargs)
        else:
            (data) = self.delete_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, **kwargs)
            return data

    def delete_account_subaccount_pricing_with_http_info(self, account_id, subaccount_id, pricing_id, **kwargs):
        """
        Delete a pricing plan from a subaccount.
        Delete a pricing plan from a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.delete_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param int pricing_id: Pricing Object ID (required)
        :return: DeleteEntry
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'subaccount_id', 'pricing_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_account_subaccount_pricing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `delete_account_subaccount_pricing`")
        # verify the required parameter 'subaccount_id' is set
        if ('subaccount_id' not in params) or (params['subaccount_id'] is None):
            raise ValueError("Missing the required parameter `subaccount_id` when calling `delete_account_subaccount_pricing`")
        # verify the required parameter 'pricing_id' is set
        if ('pricing_id' not in params) or (params['pricing_id'] is None):
            raise ValueError("Missing the required parameter `pricing_id` when calling `delete_account_subaccount_pricing`")


        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'subaccount_id' in params:
            path_params['subaccount_id'] = params['subaccount_id']
        if 'pricing_id' in params:
            path_params['pricing_id'] = params['pricing_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api('/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}', 'DELETE',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='DeleteEntry',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_account_subaccount_pricing(self, account_id, subaccount_id, pricing_id, **kwargs):
        """
        Get the details of a pricing plan for a subaccount.
        Get the details of a pricing plan for a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_account_subaccount_pricing(account_id, subaccount_id, pricing_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param int pricing_id: Pricing Object ID (required)
        :return: PricingFull
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, **kwargs)
        else:
            (data) = self.get_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, **kwargs)
            return data

    def get_account_subaccount_pricing_with_http_info(self, account_id, subaccount_id, pricing_id, **kwargs):
        """
        Get the details of a pricing plan for a subaccount.
        Get the details of a pricing plan for a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_account_subaccount_pricing_with_http_info(account_id, subaccount_id, pricing_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param int pricing_id: Pricing Object ID (required)
        :return: PricingFull
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'subaccount_id', 'pricing_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_account_subaccount_pricing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `get_account_subaccount_pricing`")
        # verify the required parameter 'subaccount_id' is set
        if ('subaccount_id' not in params) or (params['subaccount_id'] is None):
            raise ValueError("Missing the required parameter `subaccount_id` when calling `get_account_subaccount_pricing`")
        # verify the required parameter 'pricing_id' is set
        if ('pricing_id' not in params) or (params['pricing_id'] is None):
            raise ValueError("Missing the required parameter `pricing_id` when calling `get_account_subaccount_pricing`")


        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'subaccount_id' in params:
            path_params['subaccount_id'] = params['subaccount_id']
        if 'pricing_id' in params:
            path_params['pricing_id'] = params['pricing_id']

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api('/accounts/{account_id}/subaccounts/{subaccount_id}/pricing/{pricing_id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='PricingFull',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def list_account_subaccount_pricing(self, account_id, subaccount_id, **kwargs):
        """
        Get a list of pricing plans for a subaccount.
        Get a list of pricing plans for a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_account_subaccount_pricing(account_id, subaccount_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param list[str] filters_id: ID filter
        :param str sort_id: ID sorting
        :param int limit: Max results
        :param int offset: Results to skip
        :param str fields: Field set
        :return: ListPricings
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.list_account_subaccount_pricing_with_http_info(account_id, subaccount_id, **kwargs)
        else:
            (data) = self.list_account_subaccount_pricing_with_http_info(account_id, subaccount_id, **kwargs)
            return data

    def list_account_subaccount_pricing_with_http_info(self, account_id, subaccount_id, **kwargs):
        """
        Get a list of pricing plans for a subaccount.
        Get a list of pricing plans for a subaccount. See Account Subaccount Pricing for more info on the properties.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_account_subaccount_pricing_with_http_info(account_id, subaccount_id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int account_id: Account ID (required)
        :param int subaccount_id: Subaccount ID (required)
        :param list[str] filters_id: ID filter
        :param str sort_id: ID sorting
        :param int limit: Max results
        :param int offset: Results to skip
        :param str fields: Field set
        :return: ListPricings
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['account_id', 'subaccount_id', 'filters_id', 'sort_id', 'limit', 'offset', 'fields']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_account_subaccount_pricing" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'account_id' is set
        if ('account_id' not in params) or (params['account_id'] is None):
            raise ValueError("Missing the required parameter `account_id` when calling `list_account_subaccount_pricing`")
        # verify the required parameter 'subaccount_id' is set
        if ('subaccount_id' not in params) or (params['subaccount_id'] is None):
            raise ValueError("Missing the required parameter `subaccount_id` when calling `list_account_subaccount_pricing`")

        if 'sort_id' in params and not re.search('asc|desc', params['sort_id']):
            raise ValueError("Invalid value for parameter `sort_id` when calling `list_account_subaccount_pricing`, must conform to the pattern `/asc|desc/`")

        collection_formats = {}

        path_params = {}
        if 'account_id' in params:
            path_params['account_id'] = params['account_id']
        if 'subaccount_id' in params:
            path_params['subaccount_id'] = params['subaccount_id']

        query_params = []
        if 'filters_id' in params:
            query_params.append(('filters[id]', params['filters_id']))
            collection_formats['filters[id]'] = 'multi'
        if 'sort_id' in params:
            query_params.append(('sort[id]', params['sort_id']))
        if 'limit' in params:
            query_params.append(('limit', params['limit']))
        if 'offset' in params:
            query_params.append(('offset', params['offset']))
        if 'fields' in params:
            query_params.append(('fields', params['fields']))

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['apiKey']

        return self.api_client.call_api('/accounts/{account_id}/subaccounts/{subaccount_id}/pricing', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ListPricings',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
